
/*---------------General---------------*/
html{
    background:         #1133bb;
    
    padding:            0 1em
}

body{
    
    font-family:        sans-serif;
    
    border:             3px solid #ffffff;
    border-radius:      20px;
    background:         #bbbbff;
    
    padding:            1em;
    
}


#site > header a:link,
#site > header a:visited{
    
    text-decoration:    none;
    color:              #000000;
}
#site > header a:hover,
#site > header a:focus{
    
    text-decoration:    underline;
    color:              #0000ff;
}
#site > header h1,
#site > header h2{
    display:            inline;
}

#site > header nav{
    
    border-top:         2px solid #ffffff;
    border-bottom:      2px solid #ffffff;
}
#site > header nav ul{
    
    padding:            0;
    margin:             0;
}
#site > header nav ul li{
    display:            inline;
    
    padding-right:      3em;
}

#wrapper{
    
}

h3{
    
    border-bottom:      1px solid #000000;
}

footer{
    
    text-align:         center;
    
    border-top:         2px solid #ffffff;
}

footer p{
    display:            inline;
}
/*---------------Classes---------------*/
.centerImage{
    
    display:            block;
    
    margin:             0 auto;
}

/*---------------layout---------------*/
body{
    max-width:          1000px;
    min-width:          800px;
    
    margin:             1em auto;
}
